.input-number {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2rem;
}

.input-number-wrapper label {
  color: gray;
}

.input-number button {
  border: none;
  color: #ededed;
  cursor: pointer;
  padding: 1rem 3rem;
  margin-top: 1rem;
}

.input-number input {
  border-radius: 50%;
  border: none;
  background-color: #0a0a0a;
  color: #ededed;
  width: 100%;
  height: 100%;
  text-align: center;
}

.btn-start {
  background-color: yellow;
  color: #000;
}
